@tailwind base;
@tailwind components;
@tailwind utilities;

*{
margin:0;
padding:0;
box-sizing: border-box;
}

:root {
--bgBody:#343332;
--fontColor: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgBody: var(--bgBody);
  }
}

body {
  color: var(--fontColor);
  background: var(--bgBody);
}
